llava==1.7.0.dev0
blake3==1.0.4
googleapis-common-protos==1.69.0
murmurhash==1.0.12
opencensus-context==0.1.3
contourpy==1.3.1
moviepy==1.0.3
pycountry==24.6.1
cos_python_sdk_v5==1.9.35
bitsandbytes==0.45.3
flake8==7.1.2
einops==0.8.1
crcmod==1.7
imageio==2.37.0
google-api-core==2.24.1
diskcache==5.6.3
pluggy==1.5.0
et_xmlfile==2.0.0
distro==1.9.0
zipp==3.21.0
anyio==4.8.0
wheel==0.45.1
shortuuid==1.0.13
openpyxl==3.1.5
pyparsing==3.2.1
confection==0.1.5
tiktoken==0.9.0
av==14.2.0
lm-format-enforcer==0.10.11
uvloop==0.21.0
multiprocess==0.70.16
nvidia-curand-cu11==10.3.0.86
wandb==0.18.3
absl-py==2.1.0
google-auth==2.38.0
scipy==1.15.2
websockets==15.0
weasel==0.3.4
setproctitle==1.3.5
sty==1.0.6
sentencepiece==0.2.0
fsspec==2024.12.0
uvicorn==0.34.0
frozenlist==1.5.0
distlib==0.3.9
pycryptodome==3.22.0
platformdirs==4.3.6
httpcore==1.0.7
proglog==0.1.10
langcodes==3.5.0
antlr4-python3-runtime==4.9.3
py-cpuinfo==9.0.0
nvidia-cusolver-cu11==11.4.1.48
six==1.17.0
mypy-extensions==1.0.0
smmap==5.0.2
gitdb==4.0.12
pytz==2025.1
pyflakes==3.2.0
flash-attn==2.7.0.post2
Jinja2==3.1.5
smart-open==6.4.0
joblib==1.4.2
DateTime==5.5
decorator==4.4.2
scikit-learn==1.6.1
colorama==0.4.6
certifi==2025.1.31
multidict==6.1.0
aiohttp-cors==0.7.0
pyasn1_modules==0.4.1
triton==3.1.0
yarl==1.18.3
shtab==1.7.1
pydantic==2.10.6
rsa==4.9
jsonschema==4.23.0
rich==13.9.4
astor==0.8.1
srsly==2.5.1
llava==1.7.0.dev0
sniffio==1.3.1
prompt_toolkit==3.0.50
GitPython==3.1.44
wcwidth==0.2.13
markdown-it-py==3.0.0
py-spy==0.4.0
sentry-sdk==2.22.0
mbstrdecoder==1.1.4
pandas==2.2.3
pytablewriter==1.2.1
cloudpathlib==0.16.0
networkx==3.4.2
aenum==3.1.15
watchfiles==1.0.4
python-dotenv==1.0.1
wasabi==1.1.3
pycodestyle==2.12.1
msgspec==0.19.0
pfzy==0.3.4
parameterized==0.9.0
jsonschema-specifications==2024.10.1
pillow==10.4.0
aiohttp==3.11.13
hjson==3.1.0
numpy==1.26.4
httptools==0.6.4
psutil==7.0.0
mpmath==1.3.0
nvidia-nvtx-cu11==11.8.86
peft==0.14.0
spacy-legacy==3.0.12
transformers==4.45.2
propcache==0.3.0
torchvision==0.20.1+cu118
accelerate==1.4.0
xmltodict==0.14.2
spacy-loggers==1.0.5
cycler==0.12.1
nltk==3.9.1
lark==1.2.2
click==8.1.8
importlib_metadata==8.6.1
nvidia-cusparse-cu11==11.7.5.86
mccabe==0.7.0
tyro==0.9.17
prettytable==3.15.1
torch==2.5.1+cu118
pyasn1==0.6.1
portalocker==3.1.1
isort==6.0.1
torchaudio==2.5.1+cu118
partial-json-parser==0.2.1.1.post5
tabledata==1.3.4
depyf==0.18.0
rouge_score==0.1.2
huggingface-hub==0.29.1
preshed==3.0.9
black==25.1.0
spacy==3.7.2
virtualenv==20.29.2
grpcio==1.70.0
datasets==3.3.2
pathspec==0.12.1
proto-plus==1.26.0
xformers==0.0.28.post3
tabulate==0.9.0
openai==1.65.2
async-timeout==5.0.1
trl==0.15.2
setuptools==75.8.2
sympy==1.13.1
cachetools==5.5.2
aiosignal==1.3.2
pynvml==12.0.0
pathvalidate==3.2.3
fastapi==0.115.11
PyYAML==6.0.2
docstring_parser==0.16
omegaconf==2.3.0
blis==0.7.11
mistral_common==1.5.3
qwen-vl-utils==0.0.10
aiohappyeyeballs==2.4.8
deepspeed==0.15.4
language_data==1.3.0
jiter==0.8.2
packaging==24.2
colorlog==6.9.0
protobuf==3.20.3
typeguard==4.4.2
tcolorpy==0.1.7
xgrammar==0.1.14
nest-asyncio==1.6.0
dill==0.3.8
pip==25.0.1
interegular==0.3.3
outlines_core==0.1.26
tzdata==2025.1
Pygments==2.19.1
MarkupSafe==3.0.2
vllm==0.6.6.post1
referencing==0.36.2
tqdm==4.67.1
fonttools==4.56.0
decord==0.6.0
xxhash==3.5.0
inquirerpy==0.3.4
argparse==1.4.0
nvidia-nccl-cu11==2.21.5
lxml==5.3.1
sacrebleu==2.5.1
rpds-py==0.23.1
kiwisolver==1.4.8
iniconfig==2.0.0
marisa-trie==1.2.1
prometheus_client==0.21.1
idna==3.10
math-verify==0.7.0
httpx==0.28.1
coscmd==1.9.0.4
nvidia-ml-py==12.570.86
validators==0.34.0
pytest==8.3.5
nvidia-cuda-cupti-cu11==11.8.87
prometheus-fastapi-instrumentator==7.0.2
nvidia-cuda-nvrtc-cu11==11.8.89
typepy==1.3.4
typing_extensions==4.12.2
exceptiongroup==1.2.2
ray==2.43.0
filelock==3.17.0
starlette==0.46.0
opencensus==0.11.4
thinc==8.2.5
tensorboardX==2.6.2.2
fire==0.7.0
airportsdata==20250224
attrs==25.1.0
zope.interface==7.2
pydantic_core==2.27.2
nvidia-cudnn-cu11==9.1.0.70
chardet==5.2.0
imageio-ffmpeg==0.6.0
outlines==0.1.11
requests==2.32.3
DataProperty==1.1.0
safetensors==0.5.3
docker-pycreds==0.4.0
tomli==2.2.1
matplotlib==3.10.1
typer==0.9.4
liger_kernel==0.5.2
catalogue==2.0.10
h11==0.14.0
charset-normalizer==3.4.1
cymem==2.0.11
cloudpickle==3.1.1
colorful==0.5.6
annotated-types==0.7.0
nvidia-cufft-cu11==10.9.0.58
pyarrow==19.0.1
threadpoolctl==3.5.0
latex2sympy2_extended==1.10.1
ninja==1.11.1.3
compressed-tensors==0.8.1
lighteval==0.6.0.dev0
urllib3==2.3.0
opencv-python-headless==4.11.0.86
nvidia-cuda-runtime-cu11==11.8.89
termcolor==2.3.0
XlsxWriter==3.2.2
tokenizers==0.20.3
msgpack==1.1.0
mdurl==0.1.2
nvidia-cublas-cu11==11.11.3.6
gguf==0.10.0
python-dateutil==2.9.0.post0
regex==2024.11.6
hf_transfer==0.1.9
pyzmq==26.2.1
open-r1==0.1.0.dev0
platformdirs==4.2.2
typeguard==4.3.0
inflect==7.3.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
wheel==0.43.0
zipp==3.19.2
autocommand==2.2.2
importlib_metadata==8.0.0
jaraco.collections==5.1.0
typing_extensions==4.12.2
backports.tarfile==1.2.0
more-itertools==10.3.0
packaging==24.2
jaraco.text==3.12.1
tomli==2.0.1